GEMINI_API_KEY=xxxxx
MONGODB_URI=mongodb://localhost:27017/resume-builder

NEXT_JWT_SECRET=xxxx
NEXT_PUBLIC_ENCRYPTION_KEY=xxx

# For production, use a more secure secret:
NEXT_PUBLIC_CREDENTIAL_JWT_SECRET=xxx

JWT_SECRET=xxx
JWT_REFRESH_SECRET=xxxx
JWT_EXPIREIN="2d"

ORIGIN = https://your-hoster-url.com

EMAIL_ID = example@gmail.com
EMAIL_PASSWORD = xxxxx

NODE_ENV="development"
DATABASE_URL="mongodb://localhost:27017/resume-builder"
